*{
    margin: 0;
    padding:0;
}
html{
    display: flex; /*adjusts the movement*/
    justify-content: center; /* centers the page*/
    background-color: #bacbe6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:99%;
    border: 3px solid #071952;
    background-color: #071952;
    text-align: start;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

#nav ul{
    list-style: none;
    margin: 0;
    padding:0;
    position: relative;
    flex-direction: column;
    background-color: #071952;
}
#nav ul li{
    float:center;
}

#nav ul li a{
    display: inline-block;
    width: 199px;
    text-align: center;
    font-size: 11px;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    background-color: #071952;
    color: #EBF4F6;
    font-weight: bold;
    border: 1px solid #071952;
}

#nav ul ul{
    position:absolute;
    display: none;
    top: 100%
}
#nav ul ul li{
    float:none;
}
#nav ul li:hover > ul{
    display:block;
}
#nav ul li a:hover{
    background-color: #378CE7;

}
#nav > ul::after{
    content:"";
    clear: both;
    display:block;
}

.submenu{
    position:absolute;
    width: 130px;
    display:block;
    text-decoration:none;
    z-index: 2;
}

nav ::after{
    float:none;
    display: block;
}

header h2 a:hover,a:focus{
    font-size: xx-large;
    color:#071952;
    text-decoration: none;
}

header {
    padding: 2em 5em 2em;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBF4F6;
    font: 15px Serif;
}
header h2{
    text-align:center;
    font-size: xx-large;
    color:#071952;
}

header img {
    float: left;
    width: 10%;
    height: 15%;
    min-width:100px;
    min-height: auto;
    padding: 0 1em;
    position: sticky;
}


main h2{
    font-weight: bold;
    font-style:italic;
    color: #3B3C6D;
    text-align: center;
    font-size:300%;
}


header h5 a{
    text-align: right;
    text-decoration: none;
    border: 2px solid #8EA7E9;
    padding:10px;
    box-shadow: 5px 5px #8EA7E9;
    border-radius: 4px;
}

header h5 {
    text-align: left;
    color:#7FC7D9;
}


main h3 a{
    border: 2px solid #3B3C6D;
    padding:15px;
    box-shadow: 5px 5px #3B3C6D;
    border-radius: 5px;
}

h3{
    padding:1em;
    color: #3B3C6D;
    text-align: center;
}

main{
    border:5px solid #8EA7E9;
    font:105% Serif;
    padding: 2em;
    margin:2em;
    background-color: #8EA7E9;
}
#form{
    font-weight: bolder;
    color:#365486;
    padding:2em 0;
}

.mb-5.row{
    margin:auto;
    padding-bottom: 1em;
}
.mb-5.{
    padding-bottom: 1em;
}

input{
    width: 100%;
    padding: 5px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


footer {
    background-color: #EBF4F6;
    clear: both;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    white-space: none;
}
footer a:hover,a:focus{
    font-size: large;
    color:#EBF4F6;
}

footer a{
    color: #EBF4F6;
}

footer p {
    background-color: #071952;
    text-align: center;
    color: #EBF4F6;
    margin: 0;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    header img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    header h1{
        font-size: 50%;
        display: block;
        text-align: center;
    }


}
@media screen and (max-width: 1022px) {
    nav ul li {
        display: block;
        width: 100%;
    }
}

/* DEVELOPER: Paulina De Leon, IS117-011, Summer 2024 */
